# http://editorconfig.org
root = true

[*]
indent_style = space  #设置缩进风格，tab或者空格。tab是hard tabs，space为soft tabs。
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
